##############################
# Gradle
##############################
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Ignore build folders inside subprojects
**/build/

##############################
# IntelliJ IDEA
##############################
.idea/
*.iws
*.iml
*.ipr
out/

##############################
# Eclipse
##############################
.classpath
.project
.settings/
.factorypath
.apt_generated/
bin/              # <--- added here
**/bin/           # <--- and recursive, just in case

##############################
# VS Code
##############################
.vscode/

##############################
# OS junk
##############################
.DS_Store

##############################
# Minecraft Modding
##############################

# NeoForge run directories
run/
runs/

# Generated data
src/generated/
**/src/generated/**/.cache/

# Local mod repo folder
repo/
!**/src/**/repo/
